# dotenv environment variable files
.env
.env.*
!.env.example

# Fresh build directory
_fresh/

# npm + other dependencies
node_modules/
vendor/

# local editor settings
.vscode/

# macOS Finder metadata
.DS_Store
